<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuários
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let usuario of listaUsuarios">

    <ion-label>
      <img src="{{usuario.avatar}}" alt="avatar" class="redondinho">
      <h1>{{usuario.first_name}} {{usuario.last_name}}</h1>
      <p>{{usuario.email}}</p>
    </ion-label>

    <ion-button (click)="alterarUsuario(usuario.id!)" color="warning">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="removerUsuario(usuario.id!)" color="danger">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>

  </ion-item>

  <ion-button routerLink="/criar-usuario">
    Adicionar usuário
  </ion-button>
</ion-content>
